DISCORD_PUBLIC_KEY=<64_HEX_CHARACTER_DISCORD_APPLICATION_PUBLIC_KEY>
NEO_VPN_DISCORD_VIEWER_ROLE_IDS=<ROLE_ID_1,ROLE_ID_2>
NEO_VPN_DISCORD_OPERATOR_ROLE_IDS=<ROLE_ID_1,ROLE_ID_2>
NEO_VPN_DISCORD_ADMIN_ROLE_IDS=<ROLE_ID_1>
