<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="false"
        android:label="Omnitrix Suit"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:logo="@drawable/omnitrix_logo"
        android:usesCleartextTraffic="false"
        android:theme="@style/Theme.Omnitrix">
        <service android:name=".BackgroundFileSync" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true" />
        <activity android:name=".XcpKeyActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity>
        <activity android:name=".NoogleBrowserActivity" android:exported="false" android:launchMode="singleTop" />
        <activity android:name=".SyncHealthActivity" android:exported="false" />
        <activity android:name=".FormResponsesActivity" android:exported="false" />
        <activity android:name=".FormManageActivity" android:exported="false" />
        <activity android:name=".ChatThreadActivity" android:exported="false" />
        <activity android:name=".ChatMembersActivity" android:exported="false" />
        <activity android:name=".ConflictReviewActivity" android:exported="false" />
        <activity android:name=".FileLibraryActivity" android:exported="false" />
        <activity android:name=".TrustedDevicesActivity" android:exported="false" />
        <activity android:name=".CloudProviderActivity" android:exported="false" />
        <activity android:name=".NeoCloudHubActivity" android:exported="false" />
        <activity android:name=".SuiteIntegrationActivity" android:exported="false" />
        <activity android:name=".SuiteWave3Activity" android:exported="false" />
        <activity android:name=".SuiteWave2Activity" android:exported="false" />
        <activity android:name=".SuiteWave1Activity" android:exported="false" />
        <activity android:name=".SuiteLauncherActivity" android:exported="false" />
        <activity android:name=".ConsumerHomeActivity" android:exported="false" />
        <activity android:name=".MinerControlActivity" android:exported="false" />
        <activity android:name=".TxStatusActivity" android:exported="false" />
        <activity android:name=".ReceiveActivity" android:exported="false" />
        <activity android:name=".MarketMatrixActivity" android:exported="false" />
        <activity android:name=".WalletDashboardActivity" android:exported="false" />
        <activity android:name=".XcpComposerActivity" android:exported="false" />
        <activity android:name=".XcpSignerActivity" android:exported="false" />
        <activity android:name=".MainActivityV14" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
    </application>
</manifest>
