<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:label="Omnitrix"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:logo="@drawable/omnitrix_logo"
        android:usesCleartextTraffic="false"
        android:theme="@style/Theme.Omnitrix">
        <activity android:name=".XcpKeyActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SuiteWave1Activity" android:exported="false" />
        <activity android:name=".SuiteLauncherActivity" android:exported="false" />
        <activity android:name=".ConsumerHomeActivity" android:exported="false" />
        <activity android:name=".MinerControlActivity" android:exported="false" />
        <activity android:name=".TxStatusActivity" android:exported="false" />
        <activity android:name=".ReceiveActivity" android:exported="false" />
        <activity android:name=".MarketMatrixActivity" android:exported="false" />
        <activity android:name=".WalletDashboardActivity" android:exported="false" />
        <activity android:name=".XcpComposerActivity" android:exported="false" />
        <activity android:name=".XcpSignerActivity" android:exported="false" />
        <activity android:name=".MainActivityV14" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
    </application>
</manifest>
